/* Global Styles */

body {
  margin-top: 100px;
  background-color: #fff;
}

@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 10px;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #0099FF;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;   
  }

  .side-nav>li>a {
    width: 225px;
    color: #ffffff !important
  }

  .side-nav li a:hover {
    outline: none;
    background-color: #000 !important;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */

  }
  
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;    
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */ 
  }

  .side-nav>li.active {
    outline: none;
    background-color: #000 !important;    
    opacity: 0.86;
    filter: alpha(opacity=86); /* For IE8 and earlier */ 
  }
}